/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: ' ';
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ===========================================================================

GRID

=========================================================================== */

/* ROW  MOBILE*/
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* ===========================================================================

My Styles
  
=========================================================================== */

:root {
  --logo-color: #93c34b;
  --primary-color: #6cd948;
}

body {
  font-family: 'Hind Madurai', sans-serif;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
}
.navegacion a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: var(--logo-color);
  text-decoration: none;
  padding-left: 5%;
  padding-right: 5%;
  text-transform: uppercase;
  grid-column: span 2;
}

/*hamburger menu*/
.menu-icon-wrapper {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 34px;
  margin: 2em;
  pointer-events: none;
  transition: 0.1s;
  grid-column-start: 10;
  grid-column-end: 13;
  margin-top: 23px;
  z-index: 21;
}
.menu-icon-wrapper.scaled {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}
.menu-icon-wrapper svg {
  position: absolute;
  top: -33px;
  left: -33px;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.menu-icon-wrapper svg path {
  stroke: var(--logo-color);
  stroke-width: 60px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: transparent;
}
.menu-icon-wrapper .menu-icon-trigger {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  pointer-events: auto;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
.menu-icon-wrapper .menu-icon-trigger:hover,
.menu-icon-wrapper .menu-icon-trigger:focus {
  outline: none;
}

#dummy {
  display: block;
  position: absolute;
  padding-top: 80px;
  width: 100vw;
}
.dummy__item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: rgba(256, 256, 256, 0.9);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  text-align: center;
  vertical-align: middle;
}
.dummy__item {
  -webkit-transform: translate3d(-100%, 0, 0) translate3d(-2em, 0, 0)
    scale3d(0.5, 1, 1);
  transform: translate3d(-100%, 0, 0) translate3d(-2em, 0, 0) scale3d(0.5, 1, 1);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
.dummy__item a {
  align-self: center;
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: var(--logo-color);
  text-decoration: none;
  text-transform: uppercase;
}
.device--alt .dummy__item {
  -webkit-transform: translate3d(0, 260px, 0) scale3d(1, 0.2, 1);
  transform: translate3d(0, 260px, 0) scale3d(1, 0.2, 1);
}
.dummy--active .dummy__item {
  -webkit-transition-timing-function: cubic-bezier(0.56, 1.19, 0.2, 1.05);
  transition-timing-function: cubic-bezier(0.56, 1.19, 0.2, 1.05);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.dummy__item:nth-child(4),
.dummy--active .dummy__item:first-child {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.dummy__item:nth-child(3),
.dummy--active .dummy__item:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.dummy__item:nth-child(2),
.dummy--active .dummy__item:nth-child(3) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.dummy__item:first-child,
.dummy--active .dummy__item:nth-child(4) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.dummy__item:first-child,
.dummy--active .dummy__item:nth-child(5) {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

img,
object {
  max-width: 100%;
  height: auto;
}
hr {
  border: 7px solid var(--primary-color);
}
.whitehr {
  border: 7px solid #fff;
}
h3 {
  text-align: center;
  text-transform: uppercase;
}
p {
  font-size: 1rem;
}
#menu {
  grid-area: menu;
  position: fixed;
  z-index: 20;
  right: 0;
  left: 0;
  top: 0;
  background-color: #fff;
  height: 80px;
  -webkit-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.3);
  box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.3);
  grid-auto-rows: 80px;
}
.navegacion {
  grid-column-start: 4;
  grid-column-end: 13;
  align-self: center;
  text-align: right;
  display: none;
}
.logo {
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;
}
.logo img {
  height: 90px;
  align-self: center;
}
#home {
  padding-top: 120px;
  justify-items: end;
  align-self: end;
}
#home h1 {
  font-size: 2.8rem;
  line-height: 0.8;
  text-align: center;
}
#home h1 span {
  font-size: 3.44rem;
  line-height: 0.8;
  text-align: center;
}
#hometext {
  grid-area: hometext;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 2;
  align-self: flex-end;
}
#hometext p {
  text-justify: inter-word;
  text-align: justify;
  font-size: 1.12rem;
}
#homeimg {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: flex-end;
}
#homeimg img {
  height: 35vh;
  vertical-align: bottom;
  align-self: end;
}
#nosotros {
  padding-top: 100px;
}
h1 {
  font-size: 3.4rem;
  line-height: 0.8;
}
#nosotrostext {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 2;
  align-self: center;
  padding-top: 20px;
}
#nosotrostext p {
  font-size: 1.12rem;
  hyphens: auto;
  text-align: justify;
  text-justify: inter-word;
}
#nosotrosimg {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 13;
}
#mision {
  padding-top: 100px;
  padding-bottom: 30px;
}
#misiontext {
  grid-column-start: 1;
  grid-column-end: 13;
  align-self: center;
  grid-row-start: 2;
  grid-row-end: 2;
  padding-top: 30px;
}
#misiontext p {
  hyphens: auto;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.12rem;
}
#misionimg {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 13;
}
#servicios {
  margin-left: 0%;
  margin-right: 0%;
  background-color: var(--primary-color);
  height: auto;
  min-height: 95vh;
  padding-top: 100px;
  padding-bottom: 30px;
}
.serviciostittle {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 13;
  padding-bottom: 20px;
}
.destruccionfiscal {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 2;
}
.plasticosagricolas {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 3;
}
.serviciosrecoleccion {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 4;
}
#materiales {
  padding-top: 80px;
  padding-bottom: 30px;
}
#materiales h1 {
  font-size: 3rem;
}
.materialestittle {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 13;
  padding-bottom: 30px;
}
.pet {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 2;
}
.hdpesoplado {
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 2;
}
.plasticosinyeccion {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 3;
}
.papel {
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 3;
  grid-row-end: 3;
}
.carton {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 4;
}
#contacto {
  padding-top: 80px;
  background-color: #000;
  color: #fff;
}
#contactotext {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 1;
  padding-bottom: 20px;
}
.direccion {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 3;
}
.map {
  padding-top: 20px;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 2;
}
.map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
#whatsapp {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}
#facebook {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 6;
}
#email {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 7;
  grid-column-end: 9;
}
footer {
  padding-bottom: 20px;
}
.contactform {
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 11;
}
@media (min-width: 768px) {
}
@media (min-width: 1200px) {
  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  hr {
    border: 10px solid var(--primary-color);
  }
  .whitehr {
    border: 10px solid #fff;
  }
  p {
    font-size: 1.26rem;
    text-align: justify;
    text-justify: inter-word;
  }
  #menu {
    grid-area: menu;
    position: fixed;
    z-index: 20;
    right: 0;
    left: 0;
    top: 0;
    background-color: #fff;
    height: 100px;
    -webkit-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.3);
    box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.3);
    grid-auto-rows: 100px;
  }
  .hamburger {
    display: none;
  }
  #dummy {
    display: none;
  }
  #menu-icon-wrapper {
    display: none;
  }
  .navegacion {
    grid-column: span 10;
    grid-column-start: 4;
    grid-column-end: 13;
    align-self: center;
    text-align: right;
    display: inline;
  }
  .navegacion a:last-child {
    padding-right: 0;
  }
  .navegacion a:first-child {
    padding-left: 0;
  }
  .logo {
    grid-column: span 1;
    grid-column-start: 1;
    grid-column-end: 1;
    align-self: center;
  }
  .logo img {
    height: 90px;
    align-self: center;
  }
  #home {
    padding-top: 120px;
    justify-items: end;
    align-self: end;
  }
  #home h1 {
    font-size: 3.28rem;
    line-height: 0.8;
  }
  #home h1 span {
    font-size: 4rem;
    line-height: 0.8;
  }
  #hometext {
    grid-area: hometext;
    grid-column-start: 1;
    grid-column-end: 5;
    align-self: flex-end;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  #homeimg {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 5;
    grid-column-end: 13;
  }
  #homeimg img {
    height: calc(100vh - 150px);
    vertical-align: bottom;
    align-self: end;
  }
  #nosotros {
    padding-top: 110px;
  }
  h1 {
    font-size: 4rem;
    line-height: 0.8;
  }
  #nosotrostext {
    grid-column-start: 8;
    grid-column-end: 13;
    align-self: center;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  #nosotrostext h1 {
    text-align: right;
  }
  #nosotrostext p {
    font-size: 1.26rem;
    hyphens: auto;
    text-align: justify;
    text-justify: inter-word;
  }
  #nosotrosimg {
    grid-area: nosotrosimg;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  #mision {
    padding-top: 110px;
    padding-bottom: 80px;
  }
  #misiontext {
    grid-column-start: 1;
    grid-column-end: 5;
    align-self: center;
  }
  #misiontext p {
    font-size: 1.26rem;
    hyphens: auto;
    text-align: justify;
    text-justify: inter-word;
  }
  #misionimg {
    grid-area: misionimg;
    grid-column-start: 7;
    grid-column-end: 13;
  }
  #servicios {
    margin-left: 0%;
    margin-right: 0%;
    background-color: var(--primary-color);
    height: 95vh;
    padding-top: 110px;
  }
  .verticalcenter {
    align-self: center;
  }
  .serviciostittle {
    grid-column: span 4;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .destruccionfiscal {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .plasticosagricolas {
    grid-column: span 2;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .serviciosrecoleccion {
    grid-column: span 2;
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  #materiales {
    padding-top: 110px;
    padding-bottom: 80px;
  }
  #materiales h1 {
    font-size: 4rem;
  }
  .materialestittle {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column: span 4;
    padding-bottom: 80px;
  }
  .pet {
    grid-column: span 2;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .hdpesoplado {
    grid-column: span 2;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .plasticosinyeccion {
    grid-column: span 2;
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .papel {
    grid-column: span 2;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .carton {
    grid-column: span 2;
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  #contacto {
    padding-top: 110px;
    background-color: #000;
    color: #fff;
  }
  #contactotext {
    grid-column: span 4;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .direccion {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  #whatsapp {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #facebook {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #email {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  footer {
    padding-bottom: 20px;
  }
}

.slide {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.slide--reset {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.slide--up {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.slide--down {
  -webkit-transform: translateY(4em);
  -ms-transform: translateY(4em);
  transform: translateY(4em);
}

.animated {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-4em);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slideDown {
  0% {
    -moz-transform: translateY(-4em);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes slideDown {
  0% {
    -o-transform: translateY(-4em);
  }
  100% {
    -o-transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-4em);
  }
  100% {
    transform: translateY(0);
  }
}
.animated.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  -o-animation-name: slideDown;
  animation-name: slideDown;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-4em);
  }
}
@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -moz-transform: translateY(-4em);
  }
}
@-o-keyframes slideUp {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(-4em);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-4em);
  }
}
.animated.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  -o-animation-name: slideUp;
  animation-name: slideUp;
}
